@import 'estilos.sass'

$darkBlue : #1B70A6
$lightBlue : #88C9F2
$lightOrange : #F2AF5C

section
    display: flex
    flex-flow: column nowrap
    padding: 1rem
    h2 
        width: 100%
    div
        display: flex
        justify-content: space-between
        flex-flow: row nowrap
    table 
        border-collapse: collapse
        border-radius: 1rem
        overflow: hidden
        width: 75%
        margin-bottom: 1rem
        tr
            background-color: $lightBlue
            td
                cursor: pointer
                padding: 1rem
                border-top: 1px $darkBlue solid
            &:hover
                background-color: $darkBlue
                color: white
            th 
                padding: 1rem
                border-top: 1px $darkBlue solid
                background-color: $darkBlue
                color: white
                border: none
    aside
        width: 24%
        border-radius: 1rem 1rem 0 0
        overflow: hidden
        table
            border-radius: 0
            width: 100%
            border: 1px solid $darkBlue
            tr
                background-color: white
                color: black
    .forotabs
        display: flex
        flex-flow: row nowrap
        width: max-content
        align-self: center
        justify-content: center
        border-radius: 1rem
        overflow: hidden
        span 
            background-color: $darkBlue
            padding: 1rem
            cursor: pointer
            color: white
            //border: 2px solid $lightBlue
            &:hover
                color: $lightOrange
                
@media screen and ( max-width: 800px )
    section 
        table 
            width: 100%
        aside
            display: none
        
    
    