@import 'estilos.sass'

$darkBlue : #1B70A6
$lightBlue : #88C9F2
$lightOrange : #F2AF5C
section
    display: flex
    justify-content: space-between
    #productos
        margin: 3rem
        width: 60%
        @include grid(4, 0, 2rem)
        img
            width: auto
            height: 150px
        div
            &:hover
                cursor: pointer
            h3
                font-size: 1rem
                font-family: arial
            span
                font-size: .7rem
    #carrito
        background-color: $darkBlue
        height: max-content
        width: 25vw
        position: sticky
        top: 0
        h3
            padding: 1rem
            font-family: arial
            color: white
            text-decoration: none
        #footerC
            display: flex
            align-items: center
            justify-content: space-between
            padding-right: 1rem
            #precioFinal
                color: white
            height: max-content
        #lista
            height: 400px
            background-color: $lightBlue
            overflow: scroll
            padding: 1rem
            div
                display: flex
                // row-gap: 3rem
                justify-content: space-between
                align-items: center
                div
                    width: 40%
                span 
                    width: 10%
                    text-align: right
                input
                    width: 3rem
            
        a
            text-decoration: none
            padding: 1rem
            color: white
            border-bottom: 4px solid $darkBlue
            &:hover
                border-bottom: 4px solid $lightOrange
                text-decoration: none
                color: $lightOrange